@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;

    --primary: 236 65% 33%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 94%;
    --secondary-foreground: 236 65% 33%;

    --muted: 0 0% 94%;
    --muted-foreground: 0 0% 40%;

    --accent: 282 69% 38%;
    --accent-foreground: 0 0% 100%;

    --destructive: 5 81% 57%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 236 65% 33%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 236 65% 10%;
    --foreground: 0 0% 94%;

    --card: 236 65% 10%;
    --card-foreground: 0 0% 94%;

    --popover: 236 65% 10%;
    --popover-foreground: 0 0% 94%;

    --primary: 0 0% 94%;
    --primary-foreground: 236 65% 10%;

    --secondary: 236 65% 20%;
    --secondary-foreground: 0 0% 94%;

    --muted: 236 65% 20%;
    --muted-foreground: 0 0% 60%;

    --accent: 282 69% 48%;
    --accent-foreground: 0 0% 94%;

    --destructive: 5 71% 52%;
    --destructive-foreground: 0 0% 100%;

    --border: 236 65% 20%;
    --input: 236 65% 20%;
    --ring: 0 0% 94%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
